body{
  margin:0;

}

.conteneur{
background: linear-gradient(to right, white , #ffff99);
margin:auto;
height: 100vh;
display:flex;
flex-direction: row;

}
.bitch img{
height: 100%;
display:inline;
box-shadow: 16px -5px 20px -10px rgba(0,0,0,0.3);
}

.bitch{
  position:relative;
  height: 400px;
  width:auto;
  margin-left: 230px;
  margin-top: 250px;
}

.bitch .pin{
  position: absolute;
  height: 40px;
  box-shadow:none;
  left: 160px;
  top: -16px;
}


.clock {

border-radius: 50%;
  background: #fff url(ios_clock.svg) no-repeat center;
  background-size: 90%;
  padding:40px;
  position: relative;
  width: 450px;
  height: 450px;
  border: 10px solid #006699;
   box-shadow:12px -4px 20px -8px rgba(0, 0, 0, 0.3) inset, 16px -5px 20px -10px rgba(0,0,0,0.3);
   margin-left: 200px;

   margin-top: 50px;
}

.clock:after {
  background-image: url('rose.gif');

background-repeat: no-repeat;
background-size: cover;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 45px;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.hours img{
  position: absolute;
      height: 91%;
      top: -40px;
      left: -24px;
      transform: rotate(-25deg);
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.minutes img{
  position:absolute;
  height:56%;
  top:-2px;
  right: -37px;
}

.seconds{
  background: green;;
  height:45%;
  left:49.5%;
  position:absolute;
  top:14%;
  transform-origin: 50% 80%;
  width:1%;
  z-index:8;
}


.seconds img{
  height:30%;
  position:absolute;
  top:0px;
  right:-20px;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}
